html{
    height: 100%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

body{
    align-items: center;
    background: linear-gradient(320deg, red, purple, blue);
}

section{

    background-color: white;
    display: flexbox;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

fieldset{
    padding: 50px;
}

form{
    display: flexbox;
    padding: 20px;
}



.botao input{
    float: right;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: rgb(40, 25, 204);
    margin-right: 7px;
}

.botao input:hover{
    background-color: rgb(18, 11, 95);
}







